<!DOCTYPE html>
<html lang="en">

{% extends 'base.html' %}

{% block head %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>

{% endblock %}

{% block body %}

<body ng-app="myApp">

    <div ng-controller="myCtrl">
        <div class="container">
            <form class="form">
                <div class="form-group row text-light">
                    <!-- Headings -->
                    <label class="col-2 d-none d-sm-block">Name</label>
                    <label class="col-2 d-none d-sm-block">Cash</label>
                    <label class="col-4 d-none d-sm-block">Email</label>
                    <label class="col-2 d-none d-sm-block">Number</label>
                    <label class="col-2 d-none d-sm-block">Risk</label>
                </div>
                <!-- Rows populated with ng-repeat -->
                <div ng-repeat="user in users| filter:filters.cmd"
                    class="form-group row shadow-sm  border-bottom  border-info" data-toggle="collapse"
                    data-target="#collapse_[[$index]]" ng-click="editData(user)">
                    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
                        <div class="form-inline">
                            <label class="d-block d-sm-none col-3 text-white">Name</label>
                            <label class="text-white p-1">[[ user.name ]]</label>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
                        <div class="form-inline">
                            <label class="d-block d-sm-none col-3 text-white">Cash</label>
                            <label><a target="_blank" class="p-1 text-info">[[ user.cash ]]</a></label>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-inline">
                            <label class="d-block d-sm-none col-3 text-white">Email</label>
                            <label><a target="_blank" class="p-1 text-info">[[ user.email ]]</a></label>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                        <div class="form-inline">
                            <label class="d-block d-sm-none col-3 text-white">Number</label>
                            <label><a target="_blank" class="p-1 text-info">[[ user.number ]]</a></label>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                        <div class="form-inline">
                            <label class="d-block d-sm-none col-3 text-white">Risk</label>
                            <label><a target="_blank" class="p-1 text-info">[[ user.risk ]]</a></label>
                        </div>
                    </div>

                    <div class="container-fluid menu-collapse collapse ml-1" style="text-align: left;"
                        id="collapse_[[$index]]">
                        <form class="form">
                            <div class="form-group row">
                                <hr class="w-75" style="background: yellow;">
                                <div class="col-12 row form-inline" align="left">
                                    <label class="col-3 text-white">Name</label>
                                    <div class="col">
                                        <input ng-model="user.Joshua" type="text"
                                            class="form-control-sm text-white border border-white w-100"
                                            style="background: transparent;">
                                    </div>
                                </div>
                                <div class="col-12 row form-inline" align="justify">
                                    <label class="col-3 text-white">Cash</label>
                                    <div class="col">
                                        <input ng-model="user.cash" type="text"
                                            class="form-control-sm text-white border border-white w-100"
                                            style="background: transparent;">
                                    </div>
                                </div>
                                <div class="col-12 row form-inline">
                                    <label class="col-3 text-white">Email</label>
                                    <div class="col">
                                        <input ng-model="user.email" type="text"
                                            class="form-control-sm text-white border border-white w-100"
                                            style="background: transparent;">
                                    </div>
                                </div>
                                <div class="col-12 row form-inline">
                                    <label class="col-3 text-white">Number</label>
                                    <div class="col">
                                        <input ng-model="user.number" type="text"
                                            class="form-control-sm text-white border border-white w-100"
                                            style="background: transparent;">
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>

                </div>


            </form>
        </div>

        <br><br><br>

        <div class="container table-responsive">
            <div class="input-group">
                <input ng-model="filters.cmd" type="text" placeholder="search" class="form-control"
                    aria-describedby="basic-addon2">
            </div>

            <table class="table table-hover table-dark">
                <tr>
                    <th> </th>
                    <th> <select ng-model="filters.namesFilter" ng-options="name for name in filters.names"
                            ng-change="udpateFilterCmd(filters.namesFilter)" class="form-control-sm bg-dark text-light">
                        </select> </th>
                    <th> <input type="number" ng-model="filters.cashFilter"
                            ng-change="udpateFilterCmd(filters.cashFilter)">
                    </th>
                    <th> Email </th>
                    <th> Number </th>
                    <th> <select ng-model="filters.riskFilter" ng-options="r for r in filters.risk"
                            ng-change="udpateFilterCmd(filters.riskFilter)" class="form-control-sm bg-dark text-light">
                        </select> </th>
                </tr>
                <tr ng-repeat="user in users | filter:filters.cmd" ng-click="viewUser(user)">
                    <td> [[ $index ]] </td>
                    <td>[[ user.name ]]</td>
                    <td>[[ user.cash | currency:'R' ]] </td>
                    <td>[[ user.email ]]</td>
                    <td>[[ user.number ]]</td>
                    <td>[[ user.risk ]]</td>
                </tr>
            </table>
        </div>

        <div class="container box" ng-show="displayVars.viewUser">
            <button class="btnX text-light" style="background: transparent;"
                ng-click="displayVars.viewUser = false;">X</button>
            <form class="info text-dark">
                <label class="text-dark col-6 ">Username</label><label class="text-dark col-6">
                    [[selectedUser.name]]</label>
                <label class="text-dark col-6 ">Amont of cash</label><label class="text-dark col-6">
                    [[selectedUser.cash]]</label>
                <label class="text-dark col-6 ">Email address</label><label class="text-dark col-6"> <input
                        class="form-control w-100" style="background: transparent; border: none;" readonly
                        ng-model="selectedUser.email" type="text"></label>
                <label class="text-dark col-6 ">Phone number</label><label class="text-dark col-6">
                    [[selectedUser.number]]</label>
                <label class="text-dark col-6 ">Degree of risk</label><label class="text-dark col-6">
                    [[selectedUser.risk]]</label>
                <button class="btnEdit" ng-click="editPage(selectedUser)">Edit</button>
                <button><a href="/second-page">click here for the second page</a></button>
            </form>
        </div>
        <button ng-click="buttonClicked(1)">6 cities</button>
        <button ng-click="buttonClicked(2)">4 cities</button>
    </div>

    {% include "components/graph.html" %}

</body>

</html>

<script>
    var app = angular.module('myApp', []).config(['$interpolateProvider', function ($interpolateProvider) {
        $interpolateProvider.startSymbol('[[');
        $interpolateProvider.endSymbol(']]');
    }]);;

    app.factory('GetDataService', ['$http', function ($http) {
        var GetDataService = {};

        GetDataService.Call = function (method, param) {
            return $http({
                method: 'POST',
                url: '/get-data',
                data: ConvertDicToPostString({
                    'de': method,
                    'params': JSON.stringify(param)
                }),
                headers: { 'Content-Type': 'application/x-www-form-urlencoded' }
            });
        };

        return GetDataService;

        function ConvertDicToPostString(vDic) {
            var Texter = '';
            for (var key in vDic) {
                Texter = Texter + key + '=' + vDic[key] + '&';
            }
            return Texter;
        };
    }]);

    app.controller('myCtrl', function ($scope, $http, GetDataService) {

        function makeFilterArray(_filterCmd, _filterHeader, _dataHeader, _data) {
            for (i in _data) {
                var y = _data[i][_dataHeader]

                if (!$scope.filters[_filterHeader].includes(y)) {
                    $scope.filters[_filterHeader].push(y);
                }
            }
            $scope.filters[_filterHeader].push(_dataHeader);
        }

        $scope.buttonClicked = function (_btn) {

            if (_btn == 1) {
                data = GetDataService.Call('ReturnCities', '').then(function (_response) {
                    data = _response['data']['Records'];
                    $scope.$emit('populate_graph', data);
                })
                console.log(data)
            } else if (_btn == 2) {
                data = GetDataService.Call('ReturnCitiesSmall', '').then(function (_response) {
                    data = _response['data']['Records'];
                    $scope.$emit('populate_graph', data);
                })
            }
        }

        $scope.users = [];
        $scope.displayVars = {
            "viewUser": false
        }
        $scope.filters = {
            'cmd': '',
            'names': [],
            'namesFilter': 'name',
            'cash': [],
            'cashFilter': '',
            'risk': [],
            'riskFilter': 'risk'
        };

        $scope.udpateFilterCmd = function (_filterCmd) {

            if (_filterCmd == "name" || _filterCmd == "cash" || _filterCmd == "risk") {
                $scope.filters.cmd = "";
            } else {
                $scope.filters.cmd = _filterCmd;
            }
        }

        $scope.chagneOrderBy = function (x) {
            $scope.newOrderBy = x
        }

        $scope.viewUser = function (_user) {
            $scope.displayVars.viewUser = true;
            $scope.selectedUser = _user;
        }

        $scope.editPage = function (_userData) {
            var name = _userData.name;
            var cash = _userData.cash;
            var risk = _userData.risk;
            var number = _userData.number;
            var email = _userData.email;

            console.log(window.location.href)
            // window.location = "/edit/" + "-" + name + "-" + cash + "-" + risk + "-" + number + "-" + email
            location.replace("/edit/" + "-" + name + "-" + cash + "-" + risk + "-" + number + "-" + email)
        }

        $scope.editData = function (user) {
            console.log(user)
            // user.name="pig";
            user.Joshua = "pig";
        }

        GetDataService.Call('ReturnUsers', 'AllUsers').then(
            function (_response) {
                $scope.users = _response['data']['Records']
                makeFilterArray("namesFilter", "names", "name", $scope.users)
                console.log($scope.filters)
                makeFilterArray("cashFilter", "cash", "cash", $scope.users)
                makeFilterArray("riskFilter", "risk", "risk", $scope.users)
            },
            function (_response) {
                alert('Search Error');
            }
        );
    });
</script>

<script src="/static/index.js?version=112"></script>

{% endblock %}